@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(93, 135, 168, 1); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(25, 25, 46, 1); 
}